
#counties{
    display: grid;
   grid-template-columns: repeat(5,1fr);
    grid-gap:10px
}
.country-div{
    border: 1px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    grid-template-rows: repeat(3,1fr);
}
.country-name{
    color: hotpink;
    font-size: 40px;
}
.country-capital{
    font-size: 25px;
    color: indigo;
}
.button{
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(yellow,goldenrod);
}